@font-face {
    font-family: 'MarkGeoCaps-Bold';
    src: url(MarkGEOCAPS-Bold.otf);
    font-display: fallback;
}

@font-face {
    font-family: 'MarkGeoCaps-SemiBold';
    src: url(MarkGEOCAPS-SemiBold.otf);
    font-display: fallback;
}

@font-face {
    font-family: 'MarkGeoCaps-Medium';
    src: url(MarkGEOCAPS-Medium.otf);
    font-display: fallback;
}

@font-face {
    font-family: 'MarkGeoCaps-Regular';
    src: url(MarkGEOCAPS-Regular.otf);
    font-display: fallback;
}

@font-face {
    font-family: 'MarkGeoCaps-Light';
    src: url(MarkGEOCAPS-Light.otf);
    font-display: fallback;
}

@font-face {
    font-family: 'MarkGeo-Bold';
    src: url(MarkGEO-Bold.otf);
    font-display: fallback;
}

@font-face {
    font-family: 'MarkGeo-SemiBold';
    src: url(MarkGEO-SemiBold.otf);
    font-display: fallback;
}

@font-face {
    font-family: 'MarkGeo-Medium';
    src: url(MarkGEO-Medium.otf);
    font-display: fallback;
}

@font-face {
    font-family: 'MarkGeo-Regular';
    src: url(MarkGEO-Regular.otf);
    font-display: fallback;
}

@font-face {
    font-family: 'MarkGeo-Light';
    src: url(MarkGEO-Light.otf);
    font-display: fallback;
}

@font-face {
    font-family: 'Mersad-Black';
    src: url(Mersad\ Black.ttf);
    font-display: fallback;
}

@font-face {
    font-family: 'Mersad-Bold';
    src: url(Mersad\ Bold.ttf);
    font-display: fallback;
}

@font-face {
    font-family: 'Mersad-ExtraBold';
    src: url(Mersad\ ExtraBold.ttf);
    font-display: fallback;
}
@font-face {
    font-family: 'Mersad-ExtraLight';
    src: url(Mersad\ ExtraLight.ttf);
    font-display: fallback;
}

@font-face {
    font-family: 'Mersad-Light';
    src: url(Mersad\ Light.ttf);
    font-display: fallback;
}

@font-face {
    font-family: 'Mersad-Medium';
    src: url(Mersad\ Medium.ttf);
    font-display: fallback;
}

@font-face {
    font-family: 'Mersad-Regular';
    src: url(Mersad\ Regular.ttf);
    font-display: fallback;
}

@font-face {
    font-family: 'Mersad-SemiBold';
    src: url(Mersad\ SemiBold.ttf);
    font-display: fallback;
}

@font-face {
    font-family: 'Mersad-Thin';
    src: url(Mersad\ Thin.ttf);
    font-display: fallback;
}

@font-face {
    font-family: 'Degular-Bold';
    src: url(Degular\ Bold.ttf);
    font-display: fallback;
}

@font-face {
    font-family: 'Degular-Italic';
    src: url(Degular\ Italic.ttf);
    font-display: fallback;
}